<ion-footer class="footer">
  <div class="footer__container">
    <section>
      <p class="footer__about-text">
        <strong>Quem sai na frente Pesquisas</strong> é um espaço digital com
        objetivo de gerar informações através de enquetes. Vale lembrar que este
        site não tem caráter científico, apenas uma pesquisa de opinião pública
      </p>
    </section>
    <ion-title style="margin-bottom:10px; color:rgb(66, 66, 66)">Contato</ion-title>
    <address>
      <div class="sociais">
        <a href="https://www.linkedin.com/in/reinan-alves-3a364821a/">
          <ion-icon name="logo-linkedin"></ion-icon
        ></a>
        <a href="https://github.com/Reinan-Alves"
          ><ion-icon name="logo-octocat"></ion-icon
        ></a>
        <a href="https://wa.me/+5579988058202?text=Ol%C3%A1,%20tudo%20bem?">
          <ion-icon name="logo-whatsapp"></ion-icon>
        </a>

        <a href="https://cv-reinan-santos.netlify.app/"
          ><ion-icon name="code-slash-outline"></ion-icon
        ></a>
      </div>
    </address>
    <div class="politica">
      <a  routerLink="/politica">Política de Privacidade</a>
    </div>
  </div>
  <section class="footer__copyright">
    &copy; Todos os direitos reservados
  </section>
</ion-footer>
