<ion-header [translucent]="true">
  <ion-title class="tema"
    ><strong>Quem sai na frente Pesquisas</strong></ion-title
  >
</ion-header>
<ion-content [fullscreen]="true">
  <div class="publicidade">
    <script
      async
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1234567890123456"
      crossorigin="anonymous"
    ></script>
    <!-- Cabeçalho da página inicial -->
    <ins
      class="adsbygoogle"
      style="display: inline-block; width: 728px; height: 90px"
      data-ad-client="ca-pub-1234567890123456"
      data-ad-slot="1234567890"
    ></ins>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>
  <div *ngIf="spinner" class="spinner">
    <ion-img src="/assets/spinner.gif"></ion-img>
  </div>
  <div *ngIf="!spinner" id="container">
    <div class="tabela">
      <p><strong>Total de votos: {{totalDeVotos}}</strong></p>
      <table>
        <thead>
          <tr>
            <th>Candidato</th>
            <th>Percentual</th>
            <th>Colocação</th>
          </tr>
        </thead>

        <tr *ngFor="let candidato of listaDeCandidatos">
          <td>{{candidato.nome}}</td>
          <td ngClass="tdPercentual">--</td>
          <td ngClass="tdColocacao">--</td>
        </tr>
      </table>
    </div>

    <p style="margin: 10px">
      <strong style="color: rgb(0, 0, 0)"
        >Qual Candidato representará o Brasil pelos próximos 4 anos?</strong
      >
    </p>

    <ion-list>
      <ion-radio-group #respostaGroup>
        <ion-item *ngFor="let candidato of listaDeCandidatos">
          <p style="color: black"><strong>{{candidato.nome}}</strong></p>
          <ion-radio
            slot="start"
            (click)="habilitado = true"
            value="{{candidato.id}}"
          ></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>
    <div class="enviar">
      <ion-button
        (click)="registrarVoto(respostaGroup.value)"
        disabled="{{!habilitado}}"
        >Enviar</ion-button
      ><br />
      <ion-button (click)="reload()">Atualizar resultados</ion-button>
    </div>

    <div class="publicidade">
      <script
        async
        src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1234567890123456"
        crossorigin="anonymous"
      ></script>
      <!-- Cabeçalho da página inicial -->
      <ins
        class="adsbygoogle"
        style="display: inline-block; width: 728px; height: 90px"
        data-ad-client="ca-pub-1234567890123456"
        data-ad-slot="1234567890"
      ></ins>
      <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div>
  </div>
</ion-content>
