#container {
  //background-image: url("/assets/bola.jpeg");
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  padding: auto;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: 45%;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #ffffff;

  margin: 0;
}

#container a {
  text-decoration: none;
}
canvas {
  transform: scale(0.5);
}
table {
  width: 100%;
  margin-bottom: 0.5em;
  text-align: center;
  color: rgb(255, 255, 255);
  margin: auto;
  position: relative;
}
th,
td {
  padding: 0.7em;
  margin: 0;
  border: 1px solid rgb(255, 254, 254);
  text-align: center;
  height: 100px;
}
td {
  height: 50px;
}
th {
  background-image: url("/assets/bola.jpeg");
  height: 40px;
}
.tabela {
  text-shadow: #030304 0.1em 0.1em 0.2em;
  width: 100%;
  background-image: url("/assets/bola.jpeg");
}
.spinner {
  margin: auto;
  width: 200px;
  height: 200px;
}
.titulo-enquete {
  margin: 5px;
  font-weight: 900;
  color: #ffffff;
  text-shadow: #030304 0.1em 0.1em 0.2em;
  background-image: url("/assets/bola.jpeg");
}
